<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Tithon</title>
    <link rel="icon" href="/static/icon.png">
    <link rel="stylesheet" href="/static/reset.css"/>
    <link rel="stylesheet" href="/static/loading.css"/>
    <link id="theme" rel="stylesheet" href="/static/main.css"/>
    <link rel="stylesheet" href="/static/user.css"/>
    <script type="module" src="/static/datastar.js"></script>
    <script src="/static/main.js"></script>
</head>
<body>
<main id="main"
      data-signals-failed__ifmissing="false"
      data-on-load="@get('/update', {openWhenHidden: true, retryMaxCount: 2})"
      data-on-datastar-sse="evt.detail.type == 'retries-failed' ? $failed = true : null"
      data-on-datastar-sse="evt.detail.type == 'started' ? $failed = false : null"
      data-class-error="$failed"
>
    <div id="title"><img width="40" src="/static/icon.png" alt="Tithon" title="Tithon"/><p>{{.}}</p></div>
    <div id="servers"></div>
    <div id="messages"></div>
    <div id="windowandnicksettings">
        <div id="windowinfo"></div>
        <div id="nicksettings"></div>
    </div>
    <div id="nicklist"></div>
    {{ template "EmptyInput.gohtml"}}
    {{ template "Settings.gohtml"}}
    {{ template "EmptyDialog.gohtml"}}
</main>
</body>
</html>
