<div id="messages">
    {{ range . }}
        <p class={{.GetTypeDisplay}}>
            <span class="timestamp">[{{ .GetTimestamp }}]</span>
            <span class="nickname"><span class="{{.GetNameColour}}">{{ .GetNickname }}</span></span>
            <span class="message">{{ .GetMessage | unsafe }}</span>
        </p>
    {{end}}
</div>
