<dialog
        id="dialog"
        data-on-load="document.getElementById('dialog').showModal()"
        data-on-click="evt.target == document.getElementById('dialog') && document.getElementById('dialog').close()"
        data-on-keydown__window="evt.key === 'Escape' && document.getElementById('dialog').close()"
        data-signals__ifmissing="{settings: {tab: 'general'}}"
>
    <div id="settingsContent"></div>
</dialog>
