package templates

templ EmptyDialog() {
    <dialog id="dialog">
      <div>
        <p></p>
        <form method="dialog">
          <button>OK</button>
        </form>
      </div>
    </dialog>
}
