package templates

import "github.com/greboid/ircclient/irc"

templ Nicklist(channel *irc.Channel) {
	if channel == nil {
		<div id="nicklist"></div>
	} else {
		<div id="nicklist">
			for _, value := range channel.GetUsers() {
				<p>{ value }</p>
			}
		</div>
	}
}
