{{- /*gotype: github.com/greboid/ircclient/web/templates.Window */ -}}
<div id="windowinfo">{{ .WindowInfo }}</div>
<div id="messages">
    {{ range .Messages }}
    <p class={{.GetTypeDisplay}}>
        <span class="timestamp">[{{ .GetTimestamp }}]</span>
        <span class="nickname">{{ .GetNicknameForMessage }}</span>
        <span class="message">{{ .GetMessage | unsafe }}</span>
    </p>
    {{end}}
</div>
{{ template "Nicklist.gohtml" (map "Users" .Users)}}
