html {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
}
body {
  background-color: white;
  color: black;
  display: flex;
  gap: 1em;
  height: 100%;
  width: 100%;
}
#app {
  display: contents;
}
main {
  display: contents;
}
nav {}
main{}
form {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-gap: 1em;
}

label {
  grid-column: 1 / 2;
  text-align: right;
}

input, button {
  grid-column: 2 / 3;
}
input[type=checkbox] {
  width: 1rem;
  padding: 0;
  margin: 0;
}
