name: release
on:
  push:
    tags:
      - v*
permissions:
  contents: write
jobs:
  release:
    runs-on: ubuntu-latest
    env:
      SSH_AUTH_SOCK: /tmp/ssh_agent.sock
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: 'stable'
      - uses: actions/setup-node@v4
        with:
          node-version: 'latest'
      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          sudo apt update
          sudo apt install -y fakeroot
          cd frontend
          npm install
          npm run publish

      - name: Update AUR
        run: |
          #Get new version from REF, stripping v
          VERSION=${GITHUB_REF#refs/tags/v}
          
          #Install Arch package tools
          sudo apt update
          sudo apt install -y pacman-package-manager

          #Setup SSH Agent
          mkdir -p ~/.ssh
          chmod 700 ~/.ssh
          touch ~/.ssh/github_actions
          chmod 600 ~/.ssh/github_actions
          echo "${{ secrets.AUR_SSH_PRIVATE_KEY }}" > ~/.ssh/github_actions
          ssh-agent -a $SSH_AUTH_SOCK > /dev/null
          ssh-add ~/.ssh/github_actions

          #Add aur to known hosts
          mkdir -p ~/.ssh
          ssh-keyscan aur.archlinux.org >> ~/.ssh/known_hosts

          #Configure git
          git config --global user.name "GitHub Actions"
          git config --global user.email "greboid@github"
          git config --global advice.detachedHead false
          git config --global init.defaultBranch master

          #Clone the AUR package
          git clone ssh://aur@aur.archlinux.org/tithon.git aur-repo
          cd aur-repo
          git pull --tags
          git checkout v${VERSION}

          #Update the PKGBUILD with the version
          sed -i "s/^pkgver=.*/pkgver=${VERSION}/" PKGBUILD
          sed -i "s/^pkgrel=.*/pkgrel=1/" PKGBUILD

          #Update .SRCINFO
          buildfile=PKGBUILD
          newbuildfile=PKGBUILD2
          sumtypes=SHA256
          newsums=$(makepkg -g)
          
          awk -v sumtypes="$sumtypes" -v newsums="$newsums" '
            $0 ~"^[[:blank:]]*(" sumtypes ")sums(_[^=]+)?\\+?=", $0 ~ "\\)[[:blank:]]*(#.*)?$" {
            if (!w) {
            print newsums
            w++
          }
            next
          }
            
            1
            END { if (!w) print newsums }
            ' "$buildfile" > "$newbuildfile"
          mv "$newbuildfile" "$buildfile"
          makepkg --printsrcinfo > .SRCINFO

          #Stage file in git
          git add PKGBUILD .SRCINFO

          #Check if no changed and exit
          if git diff --staged --quiet; then
            echo "No changes to commit. PKGBUILD is already up to date."
            exit 0
          fi

          #Push changes
          git commit -m "Update to version $VERSION"
          git push
